<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Customer_Invoice_Display.Properties.Settings.MMABooksConnectionString"
            connectionString="Data Source=ACER-ASPIRE-7;Initial Catalog=MMABooks;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>